# Dependencies
node_modules/
client/node_modules/
backend/node_modules/

# Environment variables / Credentials
.env
backend/.env

# Build outputs
client/dist/
client/build/

# OS specific files
.DS_Store
Thumbs.db